<!DOCTYPE html>
<html>
<head>
  <title>Boogie Board | Foundation</title>
  <%= stylesheet_link_tag    'foundation', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'modernizr', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "layouts/head_nav" %>

  <%= yield %>

<%= render :partial => "layouts/foot_nav" %>

<%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'foundation', 'data-turbolinks-track' => true %>
<script>
  $(document).foundation();

  var doc = document.documentElement;
  doc.setAttribute('data-useragent', navigator.userAgent);
</script>

</body>
</html>
