<div class="row">
  <div class="large-12 columns">
    <h1>PRODUCTS</h1>
    <hr>
  </div>
</div>
 
<div class="row">
  <div class="large-4 columns">
    <a href="<%= product_path(1) %>">
      <img src="<%= @geoproducts.product_image_1.html_safe %>">
    </a>
  </div>
  <div class="large-4 columns">
    <a href="<%= product_path(2) %>">
      <img src="<%= @geoproducts.product_image_2.html_safe %>">
    </a>
  </div>
  <div class="large-4 columns">
    <a href="<%= product_path(3) %>">
      <img src="<%= @geoproducts.product_image_3.html_safe %>">
    </a>
  </div>
</div>
<br />
<br />
 
<div class="row">
  <div class="large-4 columns">
    <a href="<%= product_path(4) %>">
      <img src="<%= @geoproducts.product_image_4.html_safe %>">
    </a>
  </div>
  <div class="large-4 columns">
    <a href="<%= product_path(5) %>">
      <img src="<%= @geoproducts.product_image_5.html_safe %>">
    </a>
  </div>
  <div class="large-4 columns">
    <a href="<%= product_path(6) %>">
      <img src="<%= @geoproducts.product_image_6.html_safe %>">
    </a>
  </div>
</div>
